@import '~@nativescript/theme/css/core.css';
@import '~@nativescript/theme/css/default.css';

.fa {
    font-family: FontAwesome, fontawesome-webfont;
}

Button {
    font-size: 18;
    border-width: 3;
    border-color: black;
    border-radius: 50%;
    width: 60%;
}

#accountMenu {
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

.picker {
    width: 200;
    height: 75;
    vertical-align: middle;
    visibility: collapse;
}

.searchMenu {
    visibility: collapse;
    border-radius: 25px;
}

.i-profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;    
    margin-top: -30px;
}

.i-background {
    width: 100%;
    height: 100px;
}