<ActionBar title="Find Your Fashion" (loaded)="findUserActions()">
    <ActionItem (tap)="onShare()" ios.systemIcon="9" ios.position="left" android.systemIcon="res://ic_menu_share" android.position="actionBar"></ActionItem>
    <ActionItem (tap)="openSearch($event)" ios.systemIcon="12" ios.position="right" text="search" android.position="popup"></ActionItem>
</ActionBar>
<Tabs selectedIndex="0" (selectedIndexChanged)="indexChanged($event)">
    <!-- The bottom tab UI is created via TabStrip (the containier) and TabStripItem (for each tab)-->
    <TabStrip>
        <TabStripItem >
            <Label text="Browse" class="tabMenu"></Label>
            <Image src="font://&#xf00e;" class="fas t-36"></Image>
        </TabStripItem>
        <TabStripItem class="special">
            <Label text="Outfits" class="tabMenu"></Label>
            <Image src="font://&#xf553;" class="fas t-36"></Image>
        </TabStripItem>
        <TabStripItem class="special">
            <Label text="Profile" class="tabMenu"></Label>
            <Image src="font://&#xf2bd;" class="fas t-36"></Image>
        </TabStripItem>
    </TabStrip>

    <!--Main Feed-->
    <TabContentItem>
        <GridLayout id="accountMenu" rows="*,*,*,*,*,*,*,*,*,*,*" columns="*,*,*,*,*,*,*,*,*,*" class="mainView">
            <ListPicker class="picker" style="visibility: collapse;"
            [items]="categories">
            </ListPicker>
          
            <RadListView row="0" rowspan="11" col="0" colspan="10" orientation="vertical" [items]="itemsShown"
            width="100%" height="100%" (scrolled)="scrollStartedEvent($event)" loadOnDemandMode="Auto" (loadMoreDataRequested)="onLoadMoreItemsRequested($event)" loadOnDemandBufferSize="8"
            id="listView" selectionBehavior="None" 
            itemSwipeProgressEnded="onSwipeCellFinished($event)"
            itemSwipeProgressStarted="onSwipeCellStarted($event)" 
            (itemSwiping)="onItemSwiping" >
                <ListViewGridLayout tkListViewLayout itemInsertAnimation="Scale" scrollDirection="Vertical" ios:itemWidth="186" ios:itemHeight="240"></ListViewGridLayout>
                <ng-template horizontalAlignment="center" let-item="item" let-index="index" >
                <GridLayout rows="*, 20, 20" columns="*,*,*" class="cardView" (doubleTap)="fashionItemInit(index)" [nsRouterLink]="['detail', index]" 
                [queryParams]="{ source: 'itemsShown', liked: itemsLiked[index], saved: itemsSaved[index]}">
                    <GridLayout row=0 column=0 colspan=3>
                        <GridLayout columns="*,*,55" loaded="fashionItemInit($event, index)" padding="0 0 0 0" >
                            <Image class="mainViewImage" colspan="3" [src]="item.img[0]" height="186" ios:stretch="aspectFill" ></Image>
                            <StackLayout column="2" style="padding-left: 0;">
                                <Label [class]="itemsLiked[index] ? 'far t-36' : 'invisible'" style="color: green;" text="&#xf004;" ></Label>
                                <Label [class]="itemsSaved[index] ? 'far t-36' : 'invisible'" style="color: green;" text="&#xf0c7;" ></Label>
                            </StackLayout>
                        </GridLayout>
                    </GridLayout>
                    <Label class="mainViewText" [text]="item.name" row=1 rowspan=2 column=0 colspan=2 textWrap="true"></Label>
                    <Label class="mainViewText" [text]="item.source" style="font-weight:bold;" row=1 rowspan=2 column=3 textWrap="true" verticalAlignment="top" horizontalAlignment="right"></Label>
                </GridLayout>
                </ng-template>
            </RadListView>

            <!--Tutorial Scroll-->
            <StackLayout row="0" rowspan="3" col="5" colspan="6" [class]="tutorialHide ? 'invisible Tutorials' : 'visible Tutorials'">
                <Label class = "tutorialText" textAlignment="center" text="Quick Tutorial:" style="font-size: 20; padding-top: 10;" ></Label>
                <Label class = "tutorialText" textAlignment="center" textWrap="true" text="Your feed never runs out! Just keep scrolling!"></Label>
                <Label class = "tutorialText" textAlignment="center" textWrap="true" text="Each item can be swiped Right (Like)"></Label>
                <Label class = "tutorialText" textAlignment="center" textWrap="true" text="or Left (Dislike)"></Label>
            </StackLayout>

            <!--Tutorial Scroll-->
            <StackLayout class="Tutorials" row="9" rowspan="2" col="1" colspan="8" [class]="tutorialHide ? 'invisible Tutorials' : 'visible Tutorials'">
                <Label class = "tutorialText" style="font-size: 17; padding-top: 10;" textAlignment="center" textWrap="true" text="The more you rate the clothes that come, the better our algorithm will match you with your perfect style"></Label>
            </StackLayout>

           

            <!--Sidebar Menu-->
            <GridLayout (loaded)="menuLoaded($event)" row=0 rowspan=12 column=5 colspan=5 style="background-color: gray; margin-top:-5;" rows="*,*,*,*,*,*,*,*,*,*" columns="*,*,*,*,*,*,*,*,*,*,*,*,*,*">
                    <SearchBar id="searchBar" class="searchMenu" hint="Search for items ..." (textChange)="onTextChanged($event)"
                    [text]="searchPhrase" (clear)="onClear($event)" (submit)="onSubmit($event)" row=0 column=0 colspan=14>
                    </SearchBar>

                    <Button id="buttonNeo" text="Tags" row=1 column=0 colspan=7 style="font-size:15" (tap)="showCategories()" ></Button>
                    <Button id="buttonNeo" text="Categories" row=1 column=5 colspan=10 style="font-size:13" (tap)="showCategories()"></Button>
                   
                    <RadListView [class]="categoryVisible ? 'visible' : 'invisible'" [items]="categories" orientation="Vertical" height=30% (loaded)="categoryListLoaded($event)"
                    multipleSelection="true" selectionBehavior="Press" row=2 rowspan=3 column=3 colspan=8
                    (itemSelected)="categorySelected($event)" (itemDeselected)="categoryDeselected($event)">
                        <ListViewGridLayout tkListViewLayout scrollDirection="Vertical" itemWidth="100" itemHeight="60" spanCount="1"></ListViewGridLayout>
                            <!-- When nesting ListView in ScrollView, make sure that the nested scrollable component has an explicitly set height -->
                        <ng-template let-item="item">
                                <label textAlignment = "center" paddingLeft="20" text= {{item}}></label>
                        </ng-template>
                    </RadListView>

            </GridLayout>

            <!--Share Menu-->
            <GridLayout class="shareMenu" (loaded)="shareLoaded($event)" row=1 rowspan=5 column=0 colspan=10 rows="*,*,*,*,*,*,*,*,*,*" columns="*,*,*,*,*,*,*,*,*,*">
                    <Label row="0" rowspan="2" style="padding-top: 10;" column="0" colspan="10" textAlignment="center" text="Fashion iOS is currently in development!"></Label>
                    <label row="3" column="0" colspan="10" textAlignment="center" textWrap="true" text="Share the app by first installing:"></label>
                    <Image id="shareIcon" (tap)="copyShareText()"row="3" column="8" colSpan="2" src="font://&#xf328;" class="fas" height=100></Image>
                    <label row="4" rowspan="3" column="0" colspan="10" textAlignment="center" textWrap="true" text="App Store (iOS):  &#xa; https://itunes.apple.com/us/app/nativescript-playground/id1263543946?mt=8&ls=1"></label>
                    <label row="7" rowspan="3" column="0" colspan="10" textAlignment="center" textWrap="true" text="After installing, contact 856-316-9329 for  &#xa;the Fashion iOS QR Code"></label>
            </GridLayout>
            
        </GridLayout>
    </TabContentItem>

    <!--Outfit Creator-->
    <TabContentItem>
        <StackLayout id="accountMenu" padding="2 0 2 6" margin="0">
            <GridLayout rows="*,*,*,*,*,*,*,*,*,*,*,*" columns="*,*,*,*,*,*,*,*,*,*">
                    <Button id="buttonNeo" row="0" column="0" colspan="4" [text]="filterBySaved? 'Saved' : 'Likes'" (tap)="swapFilterSaved()" width="100%"></Button>
                    <RadListView style="margin-right:15;" row="0" column="4" colspan="7" [items]="categories" orientation="horizontal" height=50 width="100%"
                    multipleSelection="false" selectionBehavior="Press" 
                    (itemSelected)="outfitCategorySelected($event)" (itemDeselected)="outfitCategoryDeselected($event)">
                    <ListViewGridLayout tkListViewLayout scrollDirection="Horizontal" itemWidth="90" itemHeight="60" spanCount="1"></ListViewGridLayout>
                    <!-- When nesting ListView in ScrollView, make sure that the nested scrollable component has an explicitly set height -->
                    <ng-template let-item="item" height=50>
                            <label verticalAlignment="center" textAlignment = "center" padding="20" text= {{item}} textWrap="true"></label>
                    </ng-template>
                    </RadListView>
                
                <!--Liked or Saved List outfitCreaterList-->
                <RadListView col="0" colspan="4" row="1" rowspan="11" [items]="outfitCreaterList" orientation="Vertical" height=50 
                    multipleSelection="false" selectionBehavior="Press" height ="100%"
                    (itemSelected)="createrSelected($event)">
                        <ListViewLinearLayout id="radListSelected" tkListViewLayout scrollDirection="Vertical"></ListViewLinearLayout>
                        <ng-template let-item="item" let-index="index">
                            <StackLayout>
                                <Image id="StyleImage" [src]="item.img[0]" height="100" width = "100" ios:stretch="aspectFill"></Image>
                                <Label textAlignment = "center" size = "15" width="100%" [text]="item.name" textWrap="true"></Label>
                            </StackLayout>
                        </ng-template>
                </RadListView>    
                
                <RadListView row="1" rowspan="9" col="4" colspan="10" style="margin-right: 5;" [items]="currentlyChosen" orientation="Vertical" height="100%" selectionBehavior="Press" (itemSelected)="createrDeselected($event)">
                    <ListViewGridLayout style="padding-right: 10;" tkListViewLayout scrollDirection="Vertical" itemWidth="120" itemHeight="150" spanCount="2"></ListViewGridLayout>
                    <ng-template let-item="item">
                        <StackLayout>
                            <Image [src]="item.img[0]" height="100" width = "100" ios:stretch="aspectFill"></Image>
                            <Label textAlignment = "center" size = "13" width="100%" [text]="item.name" textWrap="true"></Label>
                        </StackLayout>
                    </ng-template>
                </RadListView>

                <StackLayout row="10" rowspan="2" col="4" colspan="10" style="padding-bottom: 10;">
                    <button id="buttonNeo" verticalAlignment = "bottom" text="Save Outfit" (tap)="saveOutfit()"></button>
                    <Label size="16" textAlignment = "center" [text] = "outfitCostLabel"></Label>
                </StackLayout>
                <!--[class]="outfitTutorialHide ? 'invisible' : 'visible'"-->
                <Label row="1" rowspan="2" col="4" colspan="8" [class]="outfitTutorialHide ? 'invisible Tutorials' : 'visible Tutorials'" style="font-size: 12; padding-top: 10; color: white;" textAlignment="center" textWrap="true" text="Tap your clothes, build your perfect outfit"></Label>

                <!--Share Menu-->
                <GridLayout class="shareMenu" (loaded)="shareLoaded2($event)" row=1 rowspan=6 column=0 colspan=10 rows="*,*,*,*,*,*,*,*,*,*" columns="*,*,*,*,*,*,*,*,*,*">
                    <Label row="0" rowspan="2" style="padding-top: 10;" column="0" colspan="10" textAlignment="center" text="Fashion iOS is currently in development!"></Label>
                    <label row="3" column="0" colspan="10" textAlignment="center" textWrap="true" text="Share the app by first installing:"></label>
                    <Image id="shareIcon" (tap)="copyShareText()"row="3" column="8" colSpan="2" src="font://&#xf328;" class="fas" height=100></Image>
                    <label row="4" rowspan="3" column="0" colspan="10" textAlignment="center" textWrap="true" text="App Store (iOS):  &#xa; https://itunes.apple.com/us/app/nativescript-playground/id1263543946?mt=8&ls=1"></label>
                    <label row="7" rowspan="3" column="0" colspan="10" textAlignment="center" textWrap="true" text="After installing, contact 856-316-9329 for  &#xa;the Fashion iOS QR Code"></label>
                </GridLayout>
            </GridLayout>

        </StackLayout>

    </TabContentItem>
    
    <!--Profile-->
    <TabContentItem>
        <Gridlayout padding="2 0 2 2" rows = "*,*,*" id="accountMenu" margin="0"> 
            <StackLayout row="0">
                <Image [src] = "userIcon" height="70%" width = "70%"></Image>
                <GridLayout columns="*,*,*,*,*">
                    <Button id="buttonNeo" col="0" colspan="2" width="100%" text="Logout" (tap)="Logout()"></Button>
                    <Button id="buttonNeo" col="3" colspan="2" width="100%" text="Friends" (tap)="openFriend()"></Button>
                </GridLayout>
            </StackLayout>    
            <ScrollView row="1" rowspan="2" orientation="vertical">
                <StackLayout>
                        <Button id="buttonNeo" class="profile" textAlignment = "center" text="My Liked" (tap)="openLikes()"></Button>
                        <RadListView height ="200" row="0" orientation="horizontal" [items]="userLikes" margin-left = "2" margin-right="2">
                            <ListViewLinearLayout tkListViewLayout scrollDirection="Horizontal" itemWidth="125"></ListViewLinearLayout>
                            <ng-template let-item="item" let-index="index" >
                                <StackLayout [nsRouterLink]="['detail', index]" 
                                [queryParams]="{ source: 'userLikes', liked: true, disliked: false }">
                                    <Image [src]="item.img[0]" height="80%" width = "80%" ios:stretch="aspectFill"></Image>
                                    <Label textAlignment = "center" size = "15" width="100%" [text]="item.name" textWrap="true"></Label>
                                </StackLayout>
                            </ng-template>
                        </RadListView>
                        <Button id="buttonNeo" text = "Saved for later" (tap)="openSaved()"></Button>
                        <RadListView height ="200" row="0" orientation="horizontal" [items]="userSaved" margin-left = "2" margin-right="2">
                            <ListViewLinearLayout tkListViewLayout scrollDirection="Horizontal" itemWidth="125"></ListViewLinearLayout>
                            <ng-template let-item="item" let-index="index">
                                <StackLayout [nsRouterLink]="['detail', index]" 
                                [queryParams]="{ source: 'userSaved', saved: true }">
                                    <Image [src]="item.img[0]" height="80%" width = "80%" ios:stretch="aspectFill"></Image>
                                    <Label textAlignment = "center" size = "15" width="100%" [text]="item.name" textWrap="true"></Label>
                                </StackLayout>
                            </ng-template>
                        </RadListView>
                        <Button id="buttonNeo" text = "My Outfits"></Button>
                        <RadListView height ="200" row="0" orientation="horizontal" [items]="outfits" margin-left = "2" margin-right="2">
                            <ListViewLinearLayout tkListViewLayout scrollDirection="Horizontal" itemWidth="200" itemHeight="200" ></ListViewLinearLayout>
                            <ng-template let-item="item" let-index="index">
                                <GridLayout rows="*,*" columns="*,*" [nsRouterLink]="['outfit']" [queryParams]="{ outfit: index}">
                                    <Image row=0 column=0 [src]="item['items'][0] ? item['items'][0].img[0] : ''" height="70%" width = "70%" ios:stretch="aspectFill"></Image>
                                    <Image row=0 column=1 [src]="item['items'][1] ? item['items'][1].img[0] : ''" height="70%" width = "70%" ios:stretch="aspectFill"></Image>
                                    <Image row=1 column=0 [src]="item['items'][2] ? item['items'][2].img[0] : ''" height="70%" width = "70%" ios:stretch="aspectFill"></Image>
                                    <Image row=1 column=1 [src]="item['items'][3] ? item['items'][3].img[0] : ''" height="70%" width = "70%" ios:stretch="aspectFill"></Image>
                                </GridLayout>
                            </ng-template>
                        </RadListView>
                </StackLayout>
            </ScrollView>

            <!--Profile Search Menu-->
            <GridLayout class="popUpMenu" row="0" rowspan="3" id="profileSearch" rows="*,*,*,*,*,*,*,*,*,*" (loaded)="userGridInitialized($event)">
                <RadListView id="Main" column="0" colspan="5" row="1" rowspan="10" [items]="profileSearchUsers" orientation="Vertical" height=100%
                        multipleSelection="false" selectionBehavior="Press" (scrolled)="profileUserScrollStartedEvent($event)"
                        (itemDeselected)="categoryDeselected($event)">
                            <ListViewGridLayout tkListViewLayout scrollDirection="Vertical" itemWidth="350" itemHeight="95" spanCount="1"></ListViewGridLayout>
                                <!-- When nesting ListView in ScrollView, make sure that the nested scrollable component has an explicitly set height -->
                            <ng-template let-item="item" let-index="index" horizontalAlignment="center">
                                <GridLayout id="userList" columns="*,*,*,*,*,*" rows="*,*" [nsRouterLink]="['user']" [queryParams]="{ source: 'search', id: profileSearchUsers[index]['_id']}" style="margin-top: 10; margin-left: 15;">
                                    <StackLayout orientation="horizontal" row="0" column="0" colspan="3" >
                                    <label class="userListText" textAlignment = "left" [text]="'@' + item.username"></label>
                                    </StackLayout>
                                    <StackLayout row="1" column="0" colspan="3" orientation="horizontal">
                                        <label class="userListText"  [text]="item.first_name + ' ' + item.last_name" textAlignment = "left"></label>
                                    </StackLayout>
                                    <Button id="buttonNeo" (tap)="friendAction(item['_id'], 'friends', index)" [text]="isFriend[index] ? 'Friend' : 'Unfriend'" row="0" rowspan="2" column="4" colspan="2" style="background-color: white; color: black;" borderColor="white" borderWidth="3"></Button>
                                </GridLayout>
                            </ng-template>
                </RadListView>

                <SearchBar id="searchBarUser" row=0 hint="Search for Users, Tags, Clothes ..." (textChange)="onUserTextChanged($event)" color="Black" textFieldHintColor="red" style="background-color: rgba(59, 59, 59, 0.836);"
                    [text]="searchPhrase" (clear)="onUserClear($event)" submit="onSubmit($event)">
                </SearchBar>
            </GridLayout>

            <!--Profile Search Likes-->
            <GridLayout class="popUpMenu"row="0" rowspan="3" id="profileLikesSearch" rows="*,*,*,*,*,*,*,*,*,*" columns = "*,*,*,*,*,*,*,*,*,*" (loaded)="likesGridInitialized($event)">
                <RadListView row="1" rowspan="10" column="0" colspan="10" orientation="vertical" [items]="searchLikes"
                width="100%" height="100%" (scrolled)="profileLikesScrollStartedEvent($event)"
                id="listView" selectionBehavior="None">
                    <ListViewGridLayout tkListViewLayout itemInsertAnimation="Scale" scrollDirection="Vertical" ios:itemWidth="186" ios:itemHeight="180"></ListViewGridLayout>
                    <ng-template horizontalAlignment="center" let-item="item" let-index="index">
                        <GridLayout [nsRouterLink]="['detail', index]" 
                        [queryParams]="{ source: 'userLikes', liked: true, disliked: false, id: searchLikes[index]['_id'] }" >
                            <GridLayout columns="*,*,*" padding="0 0 0 0" >
                                <Image colspan="3" [src]="item.img[0]" height="186" ios:stretch="aspectFill" ></Image>
                            </GridLayout>
                            <GridLayout style="background-color: rgba(255, 255, 255, 0.685); border-radius: 80%; border: 2" height="40">
                                <Label textAlignment = "center" size = "15" width="100%" [text]="item.name" textWrap="true" style="color: black;"></Label>
                            </GridLayout>
                        </GridLayout>
                    </ng-template>
                </RadListView>

                <SearchBar class="popUpMenu" id="searchBarLikesProfile" row=0 column="2" colspan="5" hint="Search likes ..." (textChange)="onLikeTextChanged($event)" color="Black" textFieldHintColor="red" style="background-color: rgba(59, 59, 59, .8);"
                    [text]="searchPhrase" (clear)="onLikesClear($event)" submit="onSubmit($event)">
                </SearchBar>
                <ListPicker id="likeCategoryPicker" (selectedIndexChange)="likesCategoryChange()" row="0" column="7" colspan="3" [items]="categories" style="font-size: 10;"></ListPicker>
                <Label id="closeLikesIcon" row="0" column="0" colspan="2" class="far t-36" style="padding: 10; padding-left: 20; color: black;" text="&#xf057;" (tap)="closeLikes()"></Label>
            </GridLayout>

            <!--Profile Search Friends-->
            <GridLayout class="friendsListGrid popUpMenu" id="profileFriends" row="0" rowspan="3" columns="*,*,*,*,*" rows="*,*,*,*,*,*,*,*,*,*" (loaded)="friendGridInitialized($event)">
                <RadListView id="Main" column="0" colspan="5" row="1" rowspan="9" [items]="friendsListView ? profileFriendsSearchUsers : requests" orientation="Vertical" height=100%
                        multipleSelection="false" selectionBehavior="Press" (scrolled)="friendsScrollStartedEvent($event)"
                        (itemDeselected)="categoryDeselected($event)">
                            <ListViewGridLayout tkListViewLayout scrollDirection="Vertical" itemWidth="350" itemHeight="95" spanCount="1"></ListViewGridLayout>
                                <!-- When nesting ListView in ScrollView, make sure that the nested scrollable component has an explicitly set height -->
                            <ng-template let-item="item" let-index="index" horizontalAlignment="center">
                                <GridLayout id="userList" columns="*,*,*,*,*,*" rows="*,*" [nsRouterLink]="['user', item['_id']]" [queryParams]="{ source: 'friends', id: profileFriendsSearchUsers[index]['_id']}" style="margin-top: 10; margin-left: 15;">
                                    <StackLayout orientation="horizontal" row="0" column="0" colspan="3" >
                                    <label class="userListText" textAlignment = "left" [text]="'@' + item.username"></label>
                                    </StackLayout>
                                    <StackLayout row="1" column="0" colspan="3" orientation="horizontal">
                                        <label class="userListText"  [text]="item.first_name + ' ' + item.last_name" textAlignment = "left"></label>
                                    </StackLayout>
                                    <Button id="buttonNeo" (tap)="friendAction(item['_id'], 'search', index)" text="Friend" row="0" rowspan="2" column="4" colspan="2" style="background-color: white; color: black;"></Button>
                                </GridLayout>
                            </ng-template>
                </RadListView>
                <SearchBar id="searchBarFriends" row="0" column="1" colspan="5" hint="Search for Users ..." loaded="searchStart($event)" (textChange)="onFriendTextChanged($event)"
                [text]="searchPhrase" (clear)="onFriendClear($event)" submit="onSubmit($event)" style="padding-left: 30;">
                </SearchBar>
                <Label id="closeFriendIcon" row="0" column="0" class="far t-36" style="padding: 10; padding-left: 20; color: black;" text="&#xf057;" (tap)="closeFriend()"></Label>
                <GridLayout column="0" colspan="10" row="10" columns="*,*,*,*,*,*" rows="*,*">
                    <button text="Friends" column="0" colspan="3" row="0" rowspan="2" (tap)="SwapFriendsView('friends')"></button>
                    <button text="Requests" column="3" colspan="3" row="0" rowspan="2" (tap)="SwapFriendsView('requests')"></button>
                    <GridLayout column="5" row="0" [class]="requestsNum>0 ? 'requests' : 'requestsNone'">
                        <label [text]="requestsNum"></label>
                    </GridLayout>
                </GridLayout>
            </GridLayout>

            <!--Profile Search Saved-->
            <GridLayout class="popUpMenu"row="0" rowspan="3" id="profileSavedSearch" rows="*,*,*,*,*,*,*,*,*,*" columns = "*,*,*,*,*,*,*,*,*,*" (loaded)="savedGridInitialized($event)">
                <RadListView row="1" rowspan="10" column="0" colspan="10" orientation="vertical" [items]="searchSaved"
                width="100%" height="100%" (scrolled)="savedScrollStartedEvent($event)"
                id="listView" selectionBehavior="None">
                    <ListViewGridLayout tkListViewLayout itemInsertAnimation="Scale" scrollDirection="Vertical" ios:itemWidth="186" ios:itemHeight="180"></ListViewGridLayout>
                    <ng-template horizontalAlignment="center" let-item="item" let-index="index">
                        <GridLayout [nsRouterLink]="['detail', index]" 
                        [queryParams]="{ source: 'userSaved', id: searchSaved[index]['_id']}" >
                            <GridLayout columns="*,*,*" padding="0 0 0 0" >
                                <Image colspan="3" [src]="item.img[0]" height="186" ios:stretch="aspectFill" ></Image>
                            </GridLayout>
                            <GridLayout style="background-color: rgba(255, 255, 255, 0.685); border-radius: 80%; border: 2" height="40">
                                <Label textAlignment = "center" size = "15" width="100%" [text]="item.name" textWrap="true" style="color: black;"></Label>
                            </GridLayout>
                        </GridLayout>
                    </ng-template>
                </RadListView>

                <SearchBar class="popUpMenu" id="searchBarSavedProfile" row=0 column="2" colspan="5" hint="Search saved ..." (textChange)="onSavedTextChanged($event)" color="Black" textFieldHintColor="red" style="background-color: rgba(59, 59, 59, .8);"
                    [text]="searchPhrase" (clear)="onSavedClear($event)" submit="onSubmit($event)">
                </SearchBar>
                <ListPicker id="savedCategoryPicker" (selectedIndexChange)="savedCategoryChange()" row="0" column="7" colspan="3" [items]="categories" style="font-size: 10;"></ListPicker>
                <Label id="closeSavedIcon" row="0" column="0" colspan="2" class="far t-36" style="padding: 10; padding-left: 20; color: black;" text="&#xf057;" (tap)="closeSaved()"></Label>
            </GridLayout>

             <!--Share Menu-->
             <GridLayout class="shareMenu" row="0" rowspan="3" (loaded)="shareLoaded3($event)" row=1 rowspan=5 column=0 colspan=10 rows="*,*,*,*,*,*,*,*,*,*" columns="*,*,*,*,*,*,*,*,*,*">
                <Label row="0" rowspan="2" style="padding-top: 10;" column="0" colspan="10" textAlignment="center" text="Fashion iOS is currently in development!"></Label>
                <label row="3" column="0" colspan="10" textAlignment="center" textWrap="true" text="Share the app by first installing:"></label>
                <Image id="shareIcon" (tap)="copyShareText()"row="3" column="8" colSpan="2" src="font://&#xf328;" class="fas" height=100></Image>
                <label row="4" rowspan="3" column="0" colspan="10" textAlignment="center" textWrap="true" text="App Store (iOS):  &#xa; https://itunes.apple.com/us/app/nativescript-playground/id1263543946?mt=8&ls=1"></label>
                <label row="7" rowspan="3" column="0" colspan="10" textAlignment="center" textWrap="true" text="After installing, contact 856-316-9329 for  &#xa;the Fashion iOS QR Code"></label>
            </GridLayout>

        </Gridlayout>
    </TabContentItem>
</Tabs>