<ActionBar title="Explore Items">
    <ActionItem tap="onShare" ios.systemIcon="9" ios.position="left" android.systemIcon="res://ic_menu_share" android.position="actionBar"></ActionItem>
    <ActionItem (tap)="onSearch($event)" ios.systemIcon="12" ios.position="right" text="search" android.position="popup"></ActionItem>
</ActionBar>
<BottomNavigation selectedIndex="0">
    <!-- The bottom tab UI is created via TabStrip (the containier) and TabStripItem (for each tab)-->
    <TabStrip>
        <TabStripItem>
            <Label text="Home"></Label>
            <Image src="font://&#xf015;" class="fas t-36"></Image>
        </TabStripItem>
        <TabStripItem class="special">
            <Label text="Account"></Label>
            <Image src="font://&#xf007;" class="fas t-36"></Image>
        </TabStripItem>
        <TabStripItem class="special">
            <Label text="Search"></Label>
            <Image src="font://&#xf00e;" class="fas t-36"></Image>
        </TabStripItem>
    </TabStrip>

    <!-- The number of TabContentItem components should corespond to the number of TabStripItem components -->
    <TabContentItem>
        <StackLayout padding="2 0 2 2" backgroundColor="gray" margin="0">
            <SearchBar class="searchMenu" hint="Enter search term here ..." (textChange)="onTextChanged($event)"
            [text]="searchPhrase" (clear)="onClear($event)" (submit)="onSubmit($event)">
            </SearchBar>
            <ListPicker class="picker"
            [items]="categories" (selectedIndexChange)="categoryPicker($event)">
            </ListPicker>
            <RadListView row="0" orientation="vertical" [items]="items"
            width="100%" height="100%" (scrolled)="scrollStartedEvent($event)">
                <ListViewGridLayout tkListViewLayout scrollDirection="Vertical" ios:itemWidth="186" ios:itemHeight="180"></ListViewGridLayout>
                <ng-template let-item="item" let-index="index">
                    <StackLayout [nsRouterLink]="index" padding="0 2 2 0">
                        <Image [src]="item.img[0]" height="180" ios:stretch="aspectFill"></Image>
                    </StackLayout>
                </ng-template>
            </RadListView>
        </StackLayout>
    </TabContentItem>
    <TabContentItem>
            <Label text="Account Page" class="h2 text-center"></Label>
            <StackLayout padding="2 0 2 2" backgroundColor="darkGray" margin="0">
                <Button text="My Likes" tap="myLikes"></Button>
                <Button text="Find My Style" tap="findMyStyle"></Button>
                <Button text="Latest and Greatest" tap="Latest"></Button>

                <Button text="Edit Account Details" tap="editAccount"></Button>
            </StackLayout>

    </TabContentItem>
    <TabContentItem>
        <StackLayout>
            <Label>Nothing here yet...</Label>
        </StackLayout>
    </TabContentItem>
</BottomNavigation>

