<GridLayout rows="*,*,*,*,*,*,*,*,*,*" columns="*,*,*,*,*,*,*,*,*,*">
    <RadListView row=0 rowspan=6 column=0 colspan=10 [items]="outfit" orientation="Horizontal" style="background-color: white;">
        <ListViewLinearLayout tkListViewLayout scrollDirection="Horizontal"  spanCount="1" itemWidth="400" itemHeight="400"></ListViewLinearLayout>
            <ng-template let-item="item" let-index="index">
                <Image [src]="item.img[0]" height="100%" width="80%" ios:stretch="aspectFill"></Image>
            </ng-template>
    </RadListView>
</GridLayout>